/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-collapse {
	background-color: #F0E68C;
}

.navbar-collapse ul {
	margin-bottom: 0;
	margin-top: 0;
}

.navbar-collapse li {
	border: 1px solid;
	border-color: #f6b319;
}

/********** Base styles **********/

/*.row {
  margin-right: -15px;
  margin-left: -15px;
}*/

.navbar-brand {
	padding: 5px;
	height: 50px;
	}
.navbar-brand h1 {margin: 0;}

#t1, #t2, #t3 {
  /*background-color: #f0e68c;*/
}

.section {
  background-color: #949494;
  height: 150px;
  /*margin: 1em ;*/
  font-family: Helvetica;
  overflow: auto;
}
