/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
	padding: 5px;
	height: 50px;
	}

.navbar-brand h1 {
	margin: 0;
}

.navbar-collapse ul {
	background-color: #F0E68C;
	margin-bottom: 0;
	margin-top: 0;
}

.navbar-collapse li {
	border: 1px solid;
	border-color: #f6b319;
}


 #home-tiles p {
  clear: both;
  margin: 1em;
 }

 #home-tiles .section {
  background-color: #949494;
  margin: 1em ;
  font-family: Helvetica;
  overflow: auto;
}
